@import "mixins";

//index.html specific
#index-container{
  @include margin-padding();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100vh;
  overflow: hidden;
}

main.index-page{
  align-self:center;
  max-width: 90vw;
}

.intro-box {
  @include margin-padding();
  display:grid;
  grid-template-columns:repeat(10, 1ch);
  grid-template-rows:repeat(5,1em);
  line-height: 1;
  font-size:3rem;
}

.intro-text{
  color:$colour-bg; //Hide text while font loads!
  // @include intro-text();
  grid-column: 1/11;
  grid-row: 1/6;
  min-width:10ch;
  font-size:3rem;
  line-height: 1;
}

.wall{
  width:10ch;
  height:1em;
  grid-column-start:1;
  
  position:relative;
  display:grid;
  grid-template-columns:1.1ch 9ch;
  grid-template-rows:1em;
  animation: steps(10) 2.5s forwards type;
  margin-left:-.1ch;
}
.cursor{
  background-color:$colour-cursor-start;
  opacity:1;
  grid-column-end:2;
  animation: 2.5s forwards cursor;
  mix-blend-mode:exclusion;
}
.blind{background:$colour-bg;}

.intro-text{
  animation:.01s 1s forwards colour-text;
}

// Re-colour text
@keyframes colour-text{
  from{color:$colour-bg;}
  to{color:$base0;}
}

@keyframes type-first-line{
  from{left:0;opacity:1;}
  99%{opacity:1;}
  to{left:4ch; opacity:0;}
}

@keyframes type{
  from{left:0; opacity:1;}
  99%{opacity:1;}
  to{left:10ch; opacity:0;}
}

@keyframes type-last-line{
  from{left:0; opacity:1}
  to{left:10ch;}
}
/* @keyframes cursor-blend{
  from{background:$colour-cursor;mix-blend-mode:initial;}
  to{background:$colour-cursor;mix-blend-mode:exclusion;}
} */
@keyframes cursor{
  0%{
    opacity:1;
    background:$colour-cursor;
  }
  99%{
    opacity:1;
    background:$colour-cursor;
  }
  100%{opacity:0;}
}
@keyframes cursor-blink{
  from{opacity:0;}
  50%{opacity:1; background:$colour-cursor;}
  to{opacity:0;}
}
.line1{
  grid-row-start:1;
  animation: .74s steps(4) 2s forwards type-first-line;
  .cursor{animation:.75s 2s forwards cursor;}
}
.line2{
  grid-row-start:2;
  animation-delay:2.75s;
  .cursor{animation-delay:2.75s;}
}
.line3{
  grid-row-start:3;
  animation-delay:5.25s;
  .cursor{animation-delay:5.25s;}
}
.line4{
  grid-row-start:4;
  animation-delay:7.75s;
  .cursor{animation-delay:7.75s;}
}
.line5{
  grid-row-start:5;
  animation: steps(10) 2.5s forwards 10.25s type-last-line;
  .cursor{animation:2.5s forwards 10.25s cursor, 1s 2.5 forwards 13s cursor-blink;}
}