@charset "UTF-8";
/* Mixins are the second file to be loaded into main.scss. these should be declared after variables, since they also will be used throughout.*/
/*Scss Variables are loaded first, because they are used througout the site.


//Vars
// Colours from Solarized (https://ethanschoonover.com/solarized)

/*notes on usage:
Dark colorscheme: bg & body => base03:base0 (not base00)
highlighted bg & body => base02:base1.
>> The L*a*b lightness difference between base03:base0
   and base02:base1 is identical by design, resulting
   in identical readability against both normal and
   highlighted backgrounds.*/
/*responsive image
/*used in conjunction with .two-column-flex. I thought I would use this more often than I did.
/*this is applied first to a figure tags, or other image containers.*/
#index-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main.index-page {
  align-self: center;
  max-width: 90vw;
}

.intro-box {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 1ch);
  grid-template-rows: repeat(5, 1em);
  line-height: 1;
  font-size: 3rem;
}

.intro-text {
  color: #002b36;
  grid-column: 1/11;
  grid-row: 1/6;
  min-width: 10ch;
  font-size: 3rem;
  line-height: 1;
}

.wall {
  width: 10ch;
  height: 1em;
  grid-column-start: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1.1ch 9ch;
  grid-template-rows: 1em;
  animation: steps(10) 2.5s forwards type;
  margin-left: -0.1ch;
}

.cursor {
  background-color: #002b36;
  opacity: 1;
  grid-column-end: 2;
  animation: 2.5s forwards cursor;
}

.blind {
  background: #002b36;
}

.intro-text {
  animation: 0.01s 1s forwards colour-text;
}

@keyframes colour-text {
  from {
    color: #002b36;
  }
  to {
    color: #839496;
  }
}
@keyframes type-first-line {
  from {
    left: 0;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 4ch;
    opacity: 0;
  }
}
@keyframes type {
  from {
    left: 0;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 10ch;
    opacity: 0;
  }
}
@keyframes type-last-line {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 10ch;
  }
}
/* @keyframes cursor-blend{
  from{background:$colour-cursor;mix-blend-mode:initial;}
  to{background:$colour-cursor;mix-blend-mode:exclusion;}
} */
@keyframes cursor {
  0% {
    opacity: 1;
    background: #2aa198;
  }
  99% {
    opacity: 1;
    background: #2aa198;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background: #2aa198;
  }
  to {
    opacity: 0;
  }
}
.line1 {
  grid-row-start: 1;
  animation: 0.74s steps(4) 2s forwards type-first-line;
}
.line1 .cursor {
  animation: 0.75s 2s forwards cursor;
}

.line2 {
  grid-row-start: 2;
  animation-delay: 2.75s;
}
.line2 .cursor {
  animation-delay: 2.75s;
}

.line3 {
  grid-row-start: 3;
  animation-delay: 5.25s;
}
.line3 .cursor {
  animation-delay: 5.25s;
}

.line4 {
  grid-row-start: 4;
  animation-delay: 7.75s;
}
.line4 .cursor {
  animation-delay: 7.75s;
}

.line5 {
  grid-row-start: 5;
  animation: steps(10) 2.5s forwards 10.25s type-last-line;
}
.line5 .cursor {
  animation: 2.5s forwards 10.25s cursor, 1s 2.5 forwards 13s cursor-blink;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: "Anonymous Pro", monospace;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #839496;
  background: #002b36;
}

/*////// Typography////////
///links///

Styled text component*/
a:link {
  text-decoration: none;
  color: #268bd2;
  border-bottom: 0.15em solid #268bd2;
}

a:visited {
  color: #268bd2;
  border-bottom-color: #268bd2;
}

.current-page {
  background-color: #268bd2;
  color: #002b36;
}

/*text-component*/
.display-url, .display-url:link, .display-url:visited {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  background-color: #268bd2;
  color: #002b36;
  font-weight: bold;
  word-break: break-word;
}
/* Headers   */
h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Courier Prime";
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  padding-left: 2rem;
  line-height: 1;
}

h1 {
  font-family: "Courier Prime";
}
h1 a {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  background: #268bd2;
  border: none;
}
h1 a:visited {
  color: #002b36;
  border: none;
}

/*// font and line-height sizing///
line-height from: https://grtcalculator.com/, sizing rules from:http://webtypography.net*/
h1 {
  font-size: 3rem;
  padding: 0;
  margin-bottom: 0.7058em;
}

h2 {
  font-size: 3rem;
  margin: 1.25rem 0 0.7058em;
}

h3 {
  font-size: 2.5rem;
  margin: 1.1764em 0 0.5882em;
  width: initial;
  word-break: break-word;
}

h4 {
  font-size: 2rem;
  margin: 0.9411em 0 0.4705em;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font: italic 1.5rem bold;
}

/*content*/
p, form, ul, li {
  margin: 0;
  padding: 0;
}

p, form, ul {
  font-size: 1.25rem;
  line-height: 1.7;
  margin: 1.7em auto;
  max-width: 62.5ch;
}

/*unordered list text component*/
ul {
  margin: 0.85em auto;
  padding-left: 2ch;
}
ul li {
  margin: 0.4253em 0 0 1ch;
}
ul li ul {
  margin: 0 0 0.4253em;
  padding-left: 0;
  /*avoid big gaps in sub-lists*/
}
ul li ul li:first-child {
  margin-top: 0;
}

/*Header navigation component for small devices*/
header nav a {
  font-size: 1.5rem;
  color: #93a1a1;
}

/*footer component for small devices*/
footer {
  font-size: 1rem;
  line-height: 1.5882;
  color: #93a1a1;
  /*style any links in footer the same. nav included.*/
}
footer a:link, footer a:visited {
  color: #93a1a1;
  border: none;
}
footer a.current-page {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  padding: 0.15em 0.25em;
}

/*Skip to main link - text/accessibility component*/
#skip-to-main {
  font-size: 3rem;
  font-weight: 600;
  border: none;
  text-align: center;
}
#skip-to-main:focus {
  text-decoration: underline;
  text-transform: capitalize;
}

/*////// Layout /////////*/
/*I have tried to write this in order of specificity, less specific first. I don't want to be confused when a higher specificity affects a lower one.*/
header {
  padding-bottom: 0.7083em;
  margin-bottom: 1.4166em;
}

/*text & graphic component*/
.two-column-flex {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  /*specific to about page.*/
}
.two-column-flex .lrg-box {
  margin: 0;
  padding: 0;
  flex-grow: 3;
  flex-basis: 60%;
}
.two-column-flex .lrg-box p, .two-column-flex .lrg-box form {
  padding-left: 2ch;
}
.two-column-flex .sml-box {
  margin: 0;
  padding: 0;
  /*the image container should shrink more than any text in a flex container.*/
  flex-shrink: 2;
  flex-grow: 1;
  /*better than 33.3333(etc.). Container will be 1/3 of it's parent.*/
  flex-basis: calc(100%/3);
  /*prepares container for holding `img` and `figcaption`*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.two-column-flex .sml-box img {
  height: auto;
  /*This prevents image from shrinkinginto oblivion */
  min-width: 150px;
  /*responsive to container size*/
  width: 100%;
  /*stops image becoming indefinately large*/
  max-width: 275px;
  /*allows image to be a reasonable size when it occupies it's own line*/
  flex-grow: 1;
  /*shrink image to fit container. Or do nothing if it is already small enough to fit.*/
  object-fit: contain;
}
.two-column-flex h4 {
  margin: 0;
  padding: 0;
}
.two-column-flex #tldr, .two-column-flex #resume {
  border: 0.25em solid #2aa198;
}
.two-column-flex #resume {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 10rem;
}
.two-column-flex #resume a[download] {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  color: #93a1a1;
  text-decoration: underline;
  border: none;
  font-size: 1.5rem;
}
.two-column-flex #resume a[download] span {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  top: 0.435em;
}

/*text/graphic components that take up majority of the screen real-estate*/
.full-width-content {
  width: 90vw;
  margin: 0 auto;
}

/*hide any large splash image on small devices.*/
.header-img {
  display: none;
}

/*Responsive graphic component*/
.content-img {
  width: 100%;
}
.content-img img {
  height: 100%;
  object-fit: contain;
}

/*page footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.6486em;
  background-color: #073642;
}
footer div, footer nav {
  margin: 0 0 0.6486em;
}
footer div:first-child, footer nav:first-child {
  margin: 0.6486em 0;
}
footer div.with-love, footer nav.with-love {
  text-align: center;
}

/*Graphic component*/
/*make container*/
.social-icons {
  min-width: 50vw;
  max-width: 90vw;
  margin: 3.4em auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /*push text link under icon*/
}
.social-icons a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  /*give space to text*/
}
.social-icons a:link, .social-icons a:visited {
  border: none;
}
.social-icons a:link:not(img), .social-icons a:visited:not(img) {
  text-decoration: underline;
}
.social-icons a span {
  padding: 0.5em 1ch;
}

/*// Blog!//*/
/*Dynamically insert indication that a post is a guest post. This would be better done with Javascript, since it can't be selected, and won't appear in the DOM tree.*/
.guest {
  /*After author's name*/
  /*before the title*/
}
.guest .author::after {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  content: "Guest!";
  margin-left: 1ch;
}
.guest h3::before {
  content: "Guest Post: ";
}

/*text component*/
.blog-post {
  display: flex;
  flex-direction: column;
  /*make images responisve*/
}
.blog-post .author {
  margin: 0.75em 0;
  /*Insert "Author: " before author name to save on markup. Replace with javascript when able*/
}
.blog-post .author::before {
  content: "Author: ";
  font-weight: bold;
}
.blog-post .post-date {
  margin: 0.75em 0;
  /*Insert "Date Posted: " before author name to save on markup. Replace with javascript when able*/
}
.blog-post .post-date::before {
  content: "Date Posted: ";
  font-weight: bold;
}
.blog-post .content-img {
  margin: 0;
  padding: 0;
  /*the image container should shrink more than any text in a flex container.*/
  flex-shrink: 2;
  flex-grow: 1;
  /*better than 33.3333(etc.). Container will be 1/3 of it's parent.*/
  flex-basis: calc(100%/3);
  /*prepares container for holding `img` and `figcaption`*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.blog-post .content-img img {
  height: auto;
  /*This prevents image from shrinkinginto oblivion */
  min-width: 150px;
  /*responsive to container size*/
  width: 100%;
  /*stops image becoming indefinately large*/
  max-width: 275px;
  /*allows image to be a reasonable size when it occupies it's own line*/
  flex-grow: 1;
  /*shrink image to fit container. Or do nothing if it is already small enough to fit.*/
  object-fit: contain;
}

/* Form component*/
form {
  max-width: 90vw;
  text-transform: capitalize;
  /*give form same text properties as paragraphs*/
  /*Easily push inputs and labels onto new lines*/
  display: flex;
  flex-direction: column;
  /*hide decoration used for desktop forms*/
}
form .form-deco {
  display: none;
}
form input, form label textarea, form label textarea.error-input, form input.error-input {
  height: 1.7em;
  padding: 0 0.5ch;
  font: 400 1.25rem/1.7 "Anonymous Pro", "Courier New", Courier, Monospace;
  background: #073642;
  color: #93a1a1;
  border: 0.15em solid #002b36;
  /*::before and ::after can't be used on replaced elements*/
  /*A <span> is used to attach the content to*/
}
form input:focus, form label textarea:focus {
  border: 0.15em solid #2aa198;
  outline: #2aa198 solid 0.25em;
}
form input:required + ::before, form label textarea:required + ::before {
  content: ">Required";
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  padding: 0.25ch 0.5ch;
  margin-right: 1ch;
}
form input#submit-contact, form label textarea#submit-contact {
  background: #2aa198;
  color: #002b36;
  font-weight: bold;
  margin-top: 1.7em;
  height: auto;
}
form input.error-input:invalid, form label textarea.error-input:invalid {
  background-color: #dc322f;
  color: #002b36;
  font-weight: bold;
  padding: 0.15em;
  border-color: #dc322f !important;
  padding: 0 0.5ch;
}
form input.error-input:invalid#form-input-message:invalid, form label textarea.error-input:invalid#form-input-message:invalid {
  min-height: 8.5em;
}
form input.error-input:invalid::placeholder, form label textarea.error-input:invalid::placeholder {
  color: #002b36;
}
form input.error-input:invalid + ::after, form label textarea.error-input:invalid + ::after {
  background-color: #dc322f;
  color: #002b36;
  font-weight: bold;
  padding: 0.15em;
  content: ">Error";
}
form label {
  display: flex;
  flex-direction: column;
  margin-top: 0.85em;
}
form label textarea {
  min-height: 8.5em;
}

/*////Mobile-first Menu
Change this. It's not working*/
header nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 12em;
  height: 2.65em;
  overflow: hidden;
  transition: height 1s ease-in-out;
  /*hide current page title from menu to save screen space. The page is listed directly above the nav bar*/
}
header nav a {
  margin: 0;
  padding: 0;
  padding: 0.25em;
}
header nav a:link, header nav a:visited {
  border: 0.15em solid #268bd2;
  border-bottom: none;
}
header nav a:link:last-child, header nav a:visited:last-child {
  border-bottom: 0.15em solid #268bd2;
}
header nav .more-link, header nav .more-link:visited, header nav .more-link:link {
  background: #268bd2;
  color: #002b36;
  font-weight: bold;
}
header nav .more-link:after, header nav .more-link:link:after, header nav .more-link:visited:after {
  content: "▼";
  font-weight: bold;
  position: absolute;
  left: 6.5em;
}
header nav .less-link {
  display: none;
  font-weight: bold;
  background: #268bd2;
  color: #002b36;
}
header nav .current-page {
  display: none;
}

#navigation:target {
  scroll-margin-top: 5em;
  scroll-snap-align: start;
}
#navigation:target nav {
  height: 12.6em;
}
#navigation:target nav .more-link {
  display: none;
}
#navigation:target nav .less-link {
  display: initial;
}
#navigation:target nav .less-link::after {
  content: "▲";
  font-weight: bold;
  position: absolute;
  left: 6.5em;
}

/*/ Hide skip to main link*/
#skip-to-main {
  position: absolute;
  top: -15rem;
  left: 0;
  display: block;
  width: 5ch;
  padding: 0.5em 1ch 0;
  background: #b58900;
  color: #002b36;
  z-index: 999;
  /* from: https://css-tricks.com/the-shapes-of-css/#triangle-down-shape*/
}
#skip-to-main:focus {
  top: 0;
  left: 1ch;
}
#skip-to-main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3.52em;
  border-left: 3.5ch solid transparent;
  border-right: 3.5ch solid transparent;
  border-top: 0.75em solid #b58900;
  z-index: 1000;
}

/*Tablet responsive design*/
@media screen and (min-width: 530px) {
  /*header component*/
  header {
    /*navigation component*/
    /*nav bar becomes single line*/
  }
  header nav {
    flex-flow: row wrap;
    height: unset;
    min-width: fit-content;
    min-width: -moz-fit-content;
    max-width: 50vw;
    justify-content: space-between;
    /*hide this link*/
  }
  header nav .more-link, header nav .more-link:link, header nav .more-link:visited {
    display: none;
  }
  header nav a {
    margin: 0 1ch 0 0;
  }
  header nav a:link {
    border: none;
    background: #268bd2;
    color: #002b36;
  }
  header nav a:visited {
    border: none;
    background: #268bd2;
    color: #002b36;
  }
  header nav a:link:last-child {
    border: none;
  }
  header nav a:visited:last-child {
    border: none;
  }

  /*Make h1 Visually appealing*/
  h1 {
    /*add decorative "@" to h1*/
  }
  h1::before {
    padding: 0;
    background: #2aa198;
    width: -moz-fit-content;
    width: fit-content;
    color: #002b36;
    font-weight: bold;
    content: "@";
    background: #268bd2;
    padding-left: 1ch;
  }

  /*text-sizing*/
  /*Make text slightly smaller for tablets*/
  h2 {
    font-size: 3rem;
    margin: 1.25rem 0 0.6666em;
  }

  h3 {
    font-size: 2.5rem;
    margin: 1.1764em 0 0.5882em;
    width: initial;
    word-break: break-word;
  }

  h4 {
    font-size: 2rem;
    margin: 0.6249em 0 0.2083em;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font: italic 1.5rem bold;
  }

  p, form, ul {
    font-size: 1.125rem;
    line-height: 1.6666;
    margin: 1.6666em auto;
  }

  ul {
    margin: 1.6666em auto;
    padding-left: 3ch;
  }
  ul li {
    margin: 0.2083em 0 0 1ch;
  }
  ul li ul {
    margin: 0 0 0.8333em;
    padding-left: 2ch;
  }

  .full-width-content {
    width: 70vw;
    margin: 0 4ch 0 auto;
  }

  /*Allow social icons less screen space*/
  .social-icons {
    max-width: 70ch;
    margin-top: 3.4em;
  }

  /*footer component*/
  /*fit footer onto single line*/
  footer {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  footer div, footer .footer-nav {
    max-width: 30%;
  }
  footer .footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  footer .footer-nav a:not(.current-page) {
    text-decoration: underline;
  }
  footer .footer-nav a:link, footer .footer-nav a:visited, footer .footer-nav a.current-page {
    margin: 0.15em 1ch 0 0;
  }

  /*Blog*/
  /*text-compoonent*/
  .blog-post {
    display: grid;
    grid-template-rows: repeat(6, 1.6666rem) 6.6664rem repeat(8, 1.6666rem) 1fr;
    grid-template-columns: 1fr 70vw 4ch;
    grid-auto-rows: 1.4814rem;
    grid-auto-flow: row;
    margin-bottom: 3rem;
    /*prepare header to receive image, and for styling of elements around the image*/
    /*text component*/
    /*graphical component*/
  }
  .blog-post .post-header {
    margin: 0;
    padding: 0;
    grid-row: 1/15;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: repeat(6, 1.6666rem) 6.6664rem repeat(12, 1.6666rem) 1fr;
    grid-template-columns: 1fr 70vw 4ch;
    /*figure component (graphical)*/
    /*blog post title. h3 is used for semantic reasons when blog is in this web page.*/
    /*see note for h3*/
    /*post date component*/
  }
  .blog-post .post-header .header-img {
    /*make sure it sits on bottom layer of header. I had it as a minus value, but the figcaption text was unable to be interacted with.*/
    z-index: 1;
    grid-row: 1/8;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: repeat(6, 1.6666rem) 6.6664rem repeat(8, 1.6666rem) 1fr;
    grid-template-columns: 1fr 70vw 4ch;
    margin: 0 auto;
  }
  .blog-post .post-header .header-img img {
    grid-row: 1/8;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
  }
  .blog-post .post-header .header-img figcaption {
    grid-row: 7/12;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: repeat(4, 1.6666rem);
    grid-template-columns: 1fr 70vw 4ch;
  }
  .blog-post .post-header .header-img figcaption div {
    box-sizing: border-box;
    margin: 0;
    background: #073642;
    color: #93a1a1;
    font-weight: bold;
    padding: 0.15em 1ch;
  }
  .blog-post .post-header .header-img figcaption div.img-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/3;
    grid-column: 1/4;
  }
  .blog-post .post-header .header-img figcaption div.img-credit {
    grid-row: 3/5;
    grid-column: 1/4;
    justify-self: stretch;
    text-align: right;
  }
  .blog-post .post-header h3 {
    /*place h3 above figure in z-order. It is higher in stacking order, but this results in the figure laying on top of the header while in grid.*/
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/3;
    min-width: fit-content;
    min-width: -moz-fit-content;
    justify-self: stretch;
    align-self: start;
    margin-top: 0;
    background: #2aa198ea;
  }
  .blog-post .post-header .display-url {
    z-index: 2;
    grid-row: 4/6;
    grid-column: 1/3;
    height: fit-content;
    height: -moz-fit-content;
  }
  .blog-post .post-header .author {
    grid-row: 10/13;
    grid-column: 1/2;
    justify-self: start;
  }
  .blog-post .post-header .post-date {
    grid-row: 13/16;
    grid-column: 1/2;
    justify-self: center;
  }
  .blog-post .post-content {
    grid-row: 8/17;
    grid-column: 2/3;
  }
  .blog-post .content-img {
    width: 100%;
  }
  .blog-post .content-img img {
    height: 100%;
    max-width: fit-content;
    max-width: -moz-fit-content;
    object-fit: contain;
  }
}
/*Media Query for Desktop respoinisveness*/
@media screen and (min-width: 900px) {
  /*extend width of h2 for better visual heirachy.*/
  h2 {
    width: 60vw;
    line-height: 1.25em;
  }

  h3 {
    /*ideal width:*/
    min-width: 45vw;
    /*Just in case of a long title*/
    max-width: 50vw;
  }

  /*nav component*/
  /*move to top right corner of page*/
  #site-navigation {
    position: absolute;
    top: 3em;
    right: 0ch;
    background-color: #268bd2;
    padding-right: 2ch;
  }
  #site-navigation a {
    /*display current page in nav bar*/
  }
  #site-navigation a:link, #site-navigation a:visited, #site-navigation a.current-page {
    margin: 0;
    padding: 0.25em 1ch;
  }
  #site-navigation a:link:first-child, #site-navigation a:visited:first-child, #site-navigation a.current-page:first-child {
    padding-left: 0;
  }
  #site-navigation a:link:last-child, #site-navigation a:visited:last-child, #site-navigation a.current-page:last-child {
    padding-right: 0;
  }
  #site-navigation a.current-page {
    display: unset;
    background-color: #073642;
    color: #93a1a1;
    text-decoration: underline;
  }
  #site-navigation a:hover {
    background-color: #073642;
    color: #93a1a1;
  }

  /*text component*/
  /*move content back into centre of screen for easy reading.*/
  .full-width-content {
    margin: 0 auto;
    padding: 0;
  }
  .full-width-content ~ h4 {
    max-width: 70vw;
  }

  /*Blog*/
  .blog-post {
    grid-template-columns: 1fr 70vw 1fr;
    /*push content above header in z-order. content overlaps header image*/
  }
  .blog-post .post-header {
    grid-row: 1/15;
    grid-template-columns: 1fr 70vw 1fr;
    /*graphic component*/
  }
  .blog-post .post-header .header-img {
    grid-row: 1/15;
    grid-template-columns: 1fr 70vw 1fr;
    margin: 0;
  }
  .blog-post .post-header .header-img img {
    grid-row: 1/15;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
  }
  .blog-post .post-header .header-img figcaption {
    grid-row: 1/15;
    grid-column: 3/4;
    /*divide header into many segments as tall as line height. This allows spacing to vertical rhythm, and gives an otherwise arbitrary measure for placing items on the grid.*/
    grid-template-rows: repeat(6, 1.6666rem) 6.6664rem repeat(8, 1.6666rem) 1fr;
    grid-template-columns: 1fr;
    line-height: 1.5em;
  }
  .blog-post .post-header .header-img figcaption div {
    background: #073642;
    color: #93a1a1;
    padding: 0.25em 1ch;
    margin-right: 2ch;
  }
  .blog-post .post-header .header-img figcaption div.img-caption {
    align-self: start;
    grid-row: 1/10;
    grid-column: 1;
  }
  .blog-post .post-header .header-img figcaption div.img-credit {
    align-self: end;
    text-align: left;
    grid-row: 11/15;
    grid-column: 1;
  }
  .blog-post .post-header .post-date, .blog-post .post-header .author {
    background: #002b36cc;
    color: #839496;
    margin: 0;
    padding: 0;
    padding: 2ch;
  }
  .blog-post .post-header .author {
    z-index: 2;
    grid-row: 8/12;
  }
  .blog-post .post-header .post-date {
    z-index: 2;
    grid-row: 12/16;
    grid-column: 1/2;
  }
  .blog-post .post-content {
    z-index: 5;
    grid-row: 8/17;
    grid-column: 1/4;
    background: #002b36cc;
  }
  .blog-post .post-content p:first-child, .blog-post .post-content form:first-child {
    font-weight: bold;
    font-size: 140%;
    margin-top: 0.5em;
    color: #93a1a1;
  }

  /*contact form (text component)*/
  form {
    display: grid;
    grid-template-rows: 7em minmax(10em, auto) min-content;
    /*Form name and email form inputs shrink and grow, while decoration stays the same. last column expands and contracts at a slower rate*/
    /*Used: https://bitsofco.de/how-the-minmax-function-works for troubleshooting minmax() issues*/
    grid-template-columns: repeat(2, minmax(2ch, 2fr) 3ch) 4fr;
  }
  form label {
    margin: 0;
    padding: 0;
    grid-row: 1/2;
    font-size: 125%;
  }
  form label > input, form label > input.error-input, form label > textarea.error-input, form label > textarea {
    min-width: 2ch;
    flex-basis: 2ch;
    flex-shrink: 10;
    flex-grow: 1;
  }
  form label + .form-deco {
    margin: 0;
    padding: 0;
    display: initial;
    grid-row: 1/2;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
  }
  form label#form-label-name {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  form label#form-label-name + .form-deco {
    grid-column: 2/3;
  }
  form label#form-label-email {
    grid-column: 3/4;
  }
  form label#form-label-email + .form-deco {
    grid-column: 4/5;
  }
  form label#form-label-subject {
    grid-column: 5/6;
  }
  form label#form-label-subject + .form-deco {
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: start;
    padding-top: 0.4em;
  }
  form label#form-label-message {
    grid-row: 2/3;
    grid-column: 5/6;
  }
  form #submit-contact {
    grid-row: 3/4;
    grid-column: 5/6;
    font-size: 2rem;
    /*give indication of clickable item*/
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
