
@import "partials/index-animation";

/*reset*/
html {
  @include margin-padding();
  font-size: 16px;
  font-weight: normal;
  font-family: 'Anonymous Pro', monospace;
  box-sizing: border-box;
  min-height:100vh;
}
body{
@include margin-padding();
  font-size: 1em;
  color:$base0;
  background:$colour-bg;
  // min-width:100vw;
}

////// Typography///////////
///links///
a:link{
  text-decoration:none;
  color:$colour-link;
  border-bottom:.15em solid $colour-link;
}
a:visited{
  color:$colour-link;
  border-bottom-color:$colour-link;
}
.current-page{
  background-color:$colour-link;
  color:$colour-bg;
}
.display-url{
  @include highlight-text();
  background-color: $colour-link;
  color:$colour-bg;
  font-weight:bold;
  word-break:break-word;
  &:link,&:visited{@extend .display-url;}
}
//// Headers ////
h2,h3,h4,h5,h6{
  font-weight:700;
  font-family: 'Courier Prime';
  @include highlight-text();
  padding-left:2rem;
  line-height: 1;
}
h1{
  font-family:'Courier Prime';
  a{
    @include highlight-text();
    background:$colour-link;
    border:none;
  }
  a:visited{  color:$colour-bg; border:none;}
}
//sizing
/*line-height from: https://grtcalculator.com/, sizing rules from:http://webtypography.net*/ 
h1{font-size:3rem;padding:0; margin-bottom:.7058em;}
h2{  font-size:3rem; margin:1.25rem 0 .7058em; }
h3{
  font-size:2.5rem;
  margin:1.1764em 0 .5882em;
  width:initial;
  word-break: break-word;
}
h4{  font-size:2rem; margin:.9411em 0 .4705em; }
h5{  font-size:1.5rem;}
h6{  font: italic 1.5rem bold;}

//content
p,ul,li{
@include margin-padding();
}

p,ul{
  font-size:1.25rem;
  line-height: 1.7;
  margin:1.7em auto;
  max-width:62.5ch;
}

ul{
  margin:.85em auto;
  padding-left:2ch;
  li{ 
    margin:.4253em 0 0 1ch;
    ul{
      margin:0 0 .4253em;
      padding-left: 0;
      li:first-child{margin-top:0;}
    }
  }
}

header nav{
 
  a{
    font-size:1.5rem;
    color:$base1;
  }
}
footer{
  font-size:1rem;
  line-height:1.5882;
  color:$base1;
  a{
    &:link,&:visited{
      color:$base1;
      border:none;
    }
    &.current-page{
    @include highlight-text();
    padding:.15em .25em;
    }
  }
}
#skip-to-main{
  font-size:3rem;
  font-weight:600;
  border:none;
  text-align: center;
  &:focus{
    text-decoration: underline;
    text-transform: capitalize;
  }
}

/////// Layout /////////
/*This is in order of specificity — with less specific first*/
header{
 padding-bottom:.7083em;
 margin-bottom:1.4166em;
}
.two-column-flex{
  @include margin-padding();
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  .lrg-box{
    @include margin-padding();
    flex-grow: 3;
    flex-basis:60%;
    p{
      padding-left:2ch;
    }
  }
  .sml-box{
   @include resposive-img();
  }
  h4{
    @include margin-padding();
  }
  #tldr{  border:.25em solid $cyan; }
  #resume{
    // @include margin-padding();
    @extend #tldr;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height:10rem;

    //center link: https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties#33856609
    a[download]{
      @include margin-padding();
      text-align:center;
      margin:auto;
      color:$base1;
      text-decoration:underline;
      border:none;
      font-size:1.5rem;
      span{
        display:inline-block;
        font-size:2rem;
        position:relative;
        top:.435em;
      }
    }
  }
}

.full-width-content{
  width:90vw;
  margin:0 auto;
}

.header-img{
  display:none;
}

.content-img{
  width:100%;
  img{
    height:100%;
    object-fit: contain;
  }
}

.social-icons{
  min-width:50vw;
  max-width:90vw;
  // height:140px;
  margin:3.4em auto 0;

  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:center;

  a{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:space-around;
    // height:100px;
   &:link,
   &:visited{
     border:none;
     &:not(img){
      text-decoration:underline;
     }
   } 
   span{padding:.5em 1ch;}
  }
}

footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom:.6486em;
  background-color:$base02;
  // align-items: center;
  div,nav{
    margin:0 0 .6486em;
    &:first-child{
      margin:.6486em 0;
    }
    &.with-love{text-align: center;}
  }
}
/// Blogs!
.guest{
  .author::after{
    @include highlight-text();
    content:"Guest!";
    margin-left:1ch;
  }
  h3::before{
    content:"Guest Post: "
  }
}
.blog-post{
  display: flex;
  flex-direction: column;
  .author{
    margin:.75em 0;
    &::before{
      content:"Author: ";
      font-weight:bold;
    }
  }
  .post-date{
    margin:.75em 0;
    &::before{
      content:"Date Posted: ";
      font-weight:bold;
    }
  }
  .content-img{
    @include resposive-img();
}
}

//Form
form{
  max-width:90vw;
  text-transform: capitalize;
  @extend p;
  display:flex;
  flex-direction: column;
    .form-deco{display:none;}
  input{
    height:1.7em;
    padding:0 .5ch;
    font:400 1.25rem/1.7 'Anonymous Pro','Courier New', Courier, Monospace;
    background:$base02;
    color:$base1;
    border:.15em solid $colour-bg;
    &:focus{
      border:.15em solid $cyan;
      outline: $cyan solid .25em;
    }
    &:required+::before{
      content:">Required";
      @include highlight-text();
      padding:0.25ch .5ch;
      margin-right:1ch;  
    }
    &#submit-contact{
      background:$cyan;
      color:$colour-bg;
      font-weight:bold;
      margin-top:1.7em;
      // padding:.5ch 0;
      height:auto;
    }
    &.error-input{
      //modified from https://usefulangle.com/post/244/html-form-prevent-validation-on-page-load
      @extend input;
      &:invalid{
        @include error-text();
        border-color:$red !important;
        padding:0 .5ch;
        &#form-input-message:invalid{
          min-height:8.5em
        }
        &::placeholder{
          color:$base03;
        }
        &+::after{
          @include error-text();
          content:">Error";
        }
      }
    }
  }
  label{
    display:flex;
    flex-direction: column;
    margin-top:.85em;
    
    textarea{
      @extend input;
      min-height:8.5em;
    }
  }

}

/////Mobile-first Menu
/*Change this. It's not working*/
header nav{
  @include margin-padding();
  display:flex;
  flex-flow:column;
  width:12em;
  height:2.65em;
  overflow: hidden;
  transition:height 1s ease-in-out;
  a{
    @include margin-padding();
    padding:.25em;
   &:link,
   &:visited{
    border:.15em solid $colour-link;
    border-bottom:none;
    }
    &:link:last-child,
    &:visited:last-child{
      border-bottom:.15em solid $colour-link;
    }
  }
  .more-link{
    background:$colour-link;
    color:$colour-bg;
    font-weight:bold;
    &:link{     @extend .more-link; }
    &:visited{  @extend .more-link; }
    &:after{
      content:"\25bc";
      font-weight:bold;
      position:absolute;
      left:6.5em;
    }
  }
  .less-link{
    display:none;
    font-weight:bold;
    background:$colour-link;
    color:$colour-bg;
  }
  .current-page{display:none;}
}
#navigation:target{
  scroll-margin-top:5em;
  scroll-snap-align:start;
 nav{
  height:12.6em;
    .more-link{  display:none; }
    .less-link{
      display: initial;
      &::after{
        content:"\25b2";
        font-weight:bold;
        position:absolute;
        left:6.5em;
      }
}
}
}
// Hide skip to main link
#skip-to-main{
  position: absolute;
  top:-15rem;
  left:0;
  display: block;
  width:5ch;
  padding:.5em 1ch 0;
  background:$yellow;
  color:$colour-bg;
  z-index:999;
  &:focus{
    top:0;
    left:1ch;
  }
  // from https://css-tricks.com/the-shapes-of-css/#triangle-down-shape:
  &::after{
    content: "";
    position:absolute;
    left:0;
    top:3.52em;
    border-left: 3.5ch solid transparent;
    border-right: 3.5ch solid transparent;
    border-top:.75em solid $yellow;
    z-index: 1000;
  }
}

@import 'partials/media-queries';