@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*notes on usage:
Dark colorscheme: bg & body => base03:base0 (not base00)
highlighted bg & body => base02:base1.
>> The L*a*b lightness difference between base03:base0
   and base02:base1 is identical by design, resulting
   in identical readability against both normal and
   highlighted backgrounds.*/
/*reset*/
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Anonymous Pro','Courier New', Courier, monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #bbb;
  background: #002b36;
}

a:link {
  text-decoration: none;
  color: #268bd2;
  border-bottom: 0.15em solid #268bd2;
}

a:visited {
  color: #268bd2;
  border-bottom-color: #268bd2;
}

.current-page {
  background-color: #268bd2;
  color: #002b36;
}

.display-url, .display-url:link, .display-url:visited {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  background-color: #268bd2;
  color: #002b36;
  font-weight: bold;
  word-break: break-word;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Courier Prime';
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  padding-left: 2rem;
  line-height: 1;
}

h1 {
  font-family: 'Courier Prime';
}

h1 a {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  background: #268bd2;
  border: none;
}

h1 a:visited {
  color: #002b36;
  border: none;
}

/*line-height from: https://grtcalculator.com/, sizing rules from:http://webtypography.net*/
h1 {
  font-size: 3rem;
  padding: 0;
}

h2 {
  font-size: 3rem;
  margin: 1.4117em 0 .7058em;
}

h3 {
  font-size: 2.5rem;
  margin: 1.1764em 0 .5882em;
  width: initial;
  word-break: break-word;
}

h4 {
  font-size: 2rem;
  margin: .9411 0 .4705;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font: italic 1.5rem bold;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

p, li {
  font-size: 1.25rem;
  line-height: 1.7;
  margin: 1.7em auto;
  max-width: 62.5ch;
}

ul {
  margin: 1.5em auto;
  padding-left: 6ch;
}

ul li {
  margin: .25rem 0 0 1ch;
}

header nav a {
  font-size: 1.5rem;
  color: #93a1a1;
}

footer {
  font-size: 1rem;
  line-height: 1.5882;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: .6486em;
  background-color: #073642;
  color: #93a1a1;
}

footer div {
  margin: 0 0 .6486em;
}

footer div:first-child {
  margin: .6486em 0;
}

footer a:link, footer a:visited {
  color: #93a1a1;
  border: none;
}

footer a.current-page {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  padding: .15em .25em;
}

#skip-to-main {
  font-size: 3rem;
  font-weight: 600;
  border: none;
  text-align: center;
}

#skip-to-main:focus {
  text-decoration: underline;
  text-transform: capitalize;
}

/*This is in order of specificity — with less specific first*/
.two-column-flex {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.two-column-flex .lrg-box {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.two-column-flex .lrg-box p {
  padding-left: 2ch;
}

.two-column-flex .sml-box {
  margin: 0;
  padding: 0;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(100%/3);
      flex-basis: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.two-column-flex .sml-box img {
  height: auto;
  min-width: 150px;
  width: 100%;
  max-width: 275px;
}

.two-column-flex h4 {
  margin: 0;
  padding: 0;
}

.two-column-flex #tldr {
  border: 0.25em solid #2aa198;
}

.two-column-flex #resume {
  background: #2aa198;
  padding-bottom: 1em;
}

.full-width-content {
  width: 90vw;
  margin: 0 auto;
}

.header-img {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guest .author::after {
  padding: 0;
  background: #2aa198;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #002b36;
  font-weight: bold;
  content: "Guest!";
  margin-left: 1ch;
}

.guest h3::before {
  content: "Guest Post: ";
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-post .author {
  margin: .75em 0;
}

.blog-post .author::before {
  content: "Author: ";
  font-weight: bold;
}

.blog-post .post-date {
  margin: .75em 0;
}

.blog-post .post-date::before {
  content: "Date Posted: ";
  font-weight: bold;
}

.blog-post .content-img {
  margin: 0;
  padding: 0;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(100%/3);
      flex-basis: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog-post .content-img img {
  height: auto;
  min-width: 150px;
  width: 100%;
  max-width: 275px;
}

/*Change this. It's not working*/
header nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 12em;
  height: 2.65em;
  overflow: hidden;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

header nav a {
  margin: 0;
  padding: 0;
  padding: .25em;
}

header nav a:link, header nav a:visited {
  border: 0.15em solid #268bd2;
  border-bottom: none;
}

header nav a:link:last-child, header nav a:visited:last-child {
  border-bottom: 0.15em solid #268bd2;
}

header nav .more-link, header nav .more-link:link, header nav .more-link:visited {
  background: #268bd2;
  color: #002b36;
  font-weight: bold;
}

header nav .more-link:after, header nav .more-link:link:after, header nav .more-link:visited:after {
  content: "\25bc";
  font-weight: bold;
  position: absolute;
  left: 6.5em;
}

header nav .less-link {
  display: none;
  font-weight: bold;
  background: #268bd2;
  color: #002b36;
}

header nav .current-page {
  display: none;
}

#navigation:target {
  scroll-margin-top: 5em;
  scroll-snap-align: start;
}

#navigation:target nav {
  height: 12.6em;
}

#navigation:target nav .more-link {
  display: none;
}

#navigation:target nav .less-link {
  display: initial;
}

#navigation:target nav .less-link:after {
  content: "\25b2";
  font-weight: bold;
  position: absolute;
  left: 6.5em;
}

#skip-to-main {
  position: absolute;
  top: -15rem;
  left: 0;
  display: block;
  width: 5ch;
  padding: .5em 1ch 0;
  background: #b58900;
  color: #002b36;
  z-index: 999;
}

#skip-to-main:focus {
  top: 0;
  left: 1ch;
}

#skip-to-main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3.52em;
  border-left: 3.5ch solid transparent;
  border-right: 3.5ch solid transparent;
  border-top: 0.75em solid #b58900;
  z-index: 1000;
}

.intro-box {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1ch)[10];
      grid-template-columns: repeat(10, 1ch);
  -ms-grid-rows: (1em)[5];
      grid-template-rows: repeat(5, 1em);
  line-height: 1;
  font-size: 4rem;
}

.intro-text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */